body{
    background-color: aqua;
    background-image: url("nature.jpg");
    background-repeat: no-repeat;
    /* background-position: 200px 200px;*/
    background-size: cover;
    background-attachment: fixed;
}

#div1{
    bottom: 1px solid black;
    height: 400px;
    width: 400px;
    background-image: url("nature2.jpeg");
}
 

#div2{
    bottom: 1px solid black;
    height: 400px;
    width: 400px;
    background: aqua url("nature2.jpeg") no-repeat 100% scroll;
}